<form action="/add" method="POST">
    <label>Titulo: 
        <input type="text" name="titulo">
    </label>
    <label>Conteudo: 
        <textarea name="conteudo"></textarea>
    </label>
    <button type="submit">Send</button>
</form>